<!--
{% if session.username %}
<p>Alueet-sivu, olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<p>Et ole kirjautunut sisään.</p>
{% endif %} 
-->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<div class="container">
{% if session.user_id %}

<nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="#">Keskustelusovellus</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Kirjaudu ulos</a>
      </li>
        {% if session.user_is_admin==True %}
        <li class="nav-item"></li>
            <a class="nav-link" href="{{ url_for('new_area') }}">Luo alue</a> 
        </li>
        <li class="nav-item"></li>
            <a class="nav-link" href="{{ url_for('new_secret_area') }}">Luo salainen alue</a> 
        </li>
        {% endif %}
    </ul>
  </nav>

Olet kirjautunut sisään.
<!-- <a href="/new">Lähetä viesti</a> |  <a href="/logout">Kirjaudu ulos</a> -->
<!--<a href="{{ url_for('new_area') }}">Luo alue</a> | <a href="/logout">Kirjaudu ulos</a> -->
<p></p>
Etsi viestejä tekstisisällön perusteella: 
<form action="/search_messages" method="post"> 
<textarea name="searched_content" rows="1" cols="20"></textarea>
<input type="submit" value="Etsi">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<!-- Viestien määrä: {{ count }} -->
<hr>
{% for area in areas %}
<i>Alue:</i> {{ area[1] }}
<p>
<i>Luoja:</i> {{ area[3] }}
<p>
<i>Aika:</i> {{ area[2] }}
<p>
<i>Ketjujen määrä:</i> {{ area[4] }}
<p>
<i>Viestien määrä:</i> {{ area[5] }}
<p>
<i>Viimeisin viesti lähetetty:</i> {{ area[6] }}
<p>
<a href="{{ url_for('handle_threads', area_id=area[0]) }}">Mene alueelle</a>
{% if session.user_is_admin==True %}
<p>
<a href="{{ url_for('delete_area', area_id=area[0]) }}">Poista alue</a>
{% endif %}
<!--
<form action="/threads" method="post">
    <p>
    <input type="submit" value= {{ area[1] }}>
    </form>
-->
<hr>


{% endfor %}
{% if session.user_is_admin==True %}
<a href="{{ url_for('new_area') }}">Luo alue</a> 
<p>
<a href="{{ url_for('new_secret_area') }}">Luo salainen alue</a> 
{% endif %}
<hr>
Olet kirjautunut sisään. | <a href="/logout">Kirjaudu ulos</a>
<!-- <a href="/new">Lähetä viesti</a> |  <a href="/logout">Kirjaudu ulos</a> -->

{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}

</div>