<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">


<div class="container">
{% if session.user_id %}

<nav class="navbar navbar-expand-sm navbar-light bg-primary">
    <!-- <a class="navbar-brand" href="#">Keskustelusovellus</a> -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Kirjaudu ulos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/areas">Alueet-sivu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('handle_threads', area_id=area_id) }}">Ketjut-sivu</a>
      </li>
    </ul>
  </nav>

Alue: {{ area_name }}
<hr>
<form action="/create_thread" method="post"> 
Otsikko: <input type="text" name="thread_title" minlength="1" maxlength="40">
<p>
<input type="submit" value="Luo ketju">
<input type="hidden" name="area_id" value="{{ area_id }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}


</div>