<!--
{% if session.username %}
<p>Alueet-sivu, olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<p>Et ole kirjautunut sisään.</p>
{% endif %} 
-->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<div class="container">

{% if session.user_id %}
<p>Alue: "{{ area_name }}"</p>
<p>Olet kirjautunut nimellä {{ session.username }}</p>

<nav class="navbar navbar-expand-sm navbar-light">
    <!-- <a class="navbar-brand" href="#">Keskustelusovellus</a> -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Kirjaudu ulos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/areas">Alueet-sivu</a>
      </li>
    </ul>
  </nav>


<hr>
{% for thread in threads %}
<i>Otsikko:</i> {{ thread[0] }}
<p>
<i>Luoja:</i> {{ thread[1] }}
<p>
<i>Aika:</i> {{ thread[2].strftime("%Y-%m-%d %H:%M:%S") }}
<p>
<a href="{{ url_for('handle_messages', thread_id=thread[3]) }}">Mene ketjuun</a>
{% if session.user_id==thread[4] or session.user_is_admin==True %}
<p>
<a href="{{ url_for('delete_thread', thread_id=thread[3]) }}">Poista ketju</a>
{% endif %}
<!--
<form action="/threads" method="post">
    <p>
    <input type="submit" value= {{ thread[1] }}>
    </form>
-->
<hr>


{% endfor %}
Olet kirjautunut sisään.
<!-- <a href="/new">Lähetä viesti</a> |  <a href="/logout">Kirjaudu ulos</a> -->
<a href="{{ url_for('new_thread', area_id=area_id) }}">Luo ketju</a> | <a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}

</div>